@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primario:#F3F5FC;
  --color-secundario: #0A3871;
  --color-terciario: #FFFFFF;
  --color-desencrip: #495057;
  --color-boton: #D8DFE8;
  --color-text-mensaje:#343A40;
  --tipo-fuente-Inter: "Inter", sans-serif;
}

* {
  background: var(--color-primario);
  font-family: var(--tipo-fuente-Inter);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.logo {
  width: 120px;
  height: 48px;
  padding-top: 40px;
  margin-left: 40px;
}

body {
  margin: 0%;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.text_area {
  border: none;
  color: var(--color-secundario);
  margin-top: 90px;
  text-transform: lowercase;
  resize: none;
}

::placeholder { color: var(--color-secundario);}
.text_area:focus {
  outline: none;
}

.logo_informacion {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20%;
}

.informacion {
  display: grid;
  color: var(--color-desencrip);
  font-family: var(--tipo-fuente-Inter);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.botones {
  display: flex;
  margin-top: 2%;
  
}

.btn_desencriptar {
  background: var(--color-boton);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
  color: var(--color-secundario);
  cursor: pointer;
  height: 67px;
  margin-left:30px;
  width: 328px;
}


.btn_encriptar {
  background: var(--color-secundario);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
  color: var(--color-terciario);
  cursor: pointer;
  height: 67px;
  width: 328px;
}

/*:hover {
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
}*/

.contenedor_mensaje {
  background: var(--color-terciario);
  border: 1px solid var(--color-terciario);
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  height: 944px;
  width: 400px;
  margin-top: 0;
  display: flex;
  border-radius: 32px;
  margin-left: 100px;
  flex-direction: column;
}

.mensaje {
  background: var(--color-terciario);
  background-image: url("/images/Muñeco.png");
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: var(--color-secundario);
  resize: none;
}

.mensaje:focus {
  outline: none;
}

.textos {
  background:none;
}

.segundo_mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--color-text-mensaje);
  text-align: center;
  font-family: var(--tipo-fuente-Inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 15%;
}

.texto_ingreso {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--color-desencrip);
  text-align: center;
  font-family: var(--tipo-fuente-Inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 25%;
}

.copiar {
  background: var(--color-terciario);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
  color: var(--color-secundario);
  cursor: pointer;
  height: 67px;
  margin-left: 35px;
  margin-top: 30%;
  width: 336px;
  align-items: end;
}

/*Responsive*/

@media (max-width: 57.5em) {
  main {
    display: flex;
    flex-direction: row;
  }
  section {
    width: 100%;
  }
  .text_area {
    width: 80%;
    height:60%;
    left: 10%;
    top: 5%;
  }
  .logo_informacion {
    width: 80%;
    left: 10%;
    top: 67%;
  }
  .informacion h6 {
    font-size:16px;
  }
  .botones {
    width: 80%;
    left: 10%;
    top: 70%;
  }
  .btn-encriptar,
  .btn-desencriptar {
    width: 48%;
    border-radius: 16px;
  }
  .btn-encriptar:hover,
  .btn-desencriptar:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;
  }
  .textos {
    width: 80%;
    height:15%;
    left: 10%;
    top: 80%;
  }
  .mensaje {
    width: 100%;
    top: 5%;
  }
  .mensaje img {
    top: 0;
    display: none;
    visibility: hidden;
  }
}