@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primario:#F3F5FC;
  --color-secundario: #0A3871;
  --color-terciario: #FFFFFF;
  --color-desencrip: #495057;
  --color-boton: #D8DFE8;
  --color-text-mensaje:#343A40;
  --tipo-fuente-Inter: "Inter", sans-serif;
}

* {
  background: var(--color-primario);
  font-family: var(--tipo-fuente-Inter);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.logo {
  width: 5%;
  height: 5%;
  padding-top: 100px;
  margin-left: 20px;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.text_area {
  border: none;
  color: var(--color-secundario);
  margin-top: 90px;
  text-transform: lowercase;
}

::placeholder { color: var(--color-secundario);}
.text_area:focus {
  outline: none;
}

.mensaje {
  background: var(--color-terciario);
  background-image: url("/images/Muñeco.png");
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: var(--color-secundario);
  margin-left: 25px;
  margin-top: 20px;
  padding-left: 20px;
  position: fixed;
}

.mensaje:focus {
  outline: none;
}

.logo_informacion {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.informacion {
  display: grid;
  color: var(--color-desencrip);
  font-family: var(--tipo-fuente-Inter);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.botones {
  display: flex;
  margin-top: 18px;
  
}

.btn_desencriptar {
  background: var(--color-boton);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
  color: var(--color-secundario);
  cursor: pointer;
  height: 67px;
  margin-left:30px;
  width: 328px;
}


.btn_encriptar {
  background: var(--color-secundario);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
  color: var(--color-terciario);
  cursor: pointer;
  height: 67px;
  width: 328px;
}

/*:hover {
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
}*/

.contenedor_mensaje {
  background: var(--color-terciario);
  border: 1px solid var(--color-terciario);
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  height: 800px;
  width: 450px;
  display: flex;
  border-radius: 32px;
  margin-left: 100px;
}

.copiar {
  background: var(--color-terciario);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
  color: var(--color-secundario);
  cursor: pointer;
  height: 67px;
  margin-left: 60px;
  margin-top: 675px;
  position: absolute;
  width: 336px;
}

/*Responsive*/

@media (max-width: 57.5em) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .encriptar {
    width: 100%;
  }
  .texto {
    width: 80%;
    height:60%;
    left: 10%;
    top: 5%;
  }
  .terminos {
    width: 80%;
    left: 10%;
    top: 67%;
  }
  .terminos h6 {
    font-size:16px;
  }
  .botones {
    width: 80%;
    left: 10%;
    top: 70%;
  }
  .btn-encriptar,
  .btn-desencriptar {
    width: 48%;
    border-radius: 16px;
  }
  .btn-encriptar:hover,
  .btn-desencriptar:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;
  }
  .encriptado {
    width: 80%;
    height:15%;
    left: 10%;
    top: 80%;
  }
  .mensaje-encriptado {
    width: 100%;
    top: 5%;
  }
  .encriptado img {
    top: 0;
    display: none;
    visibility: hidden;
  }
}