@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primario:#F3F5FC;
  --color-secundario: #0A3871;
  --color-terciario: #FFFFFF;
  --color-desencrip: #495057;
  --color-boton: #D8DFE8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #F3F5FC;
}

.logo {
  display: flex;
  width: 120px;
  height: 48px;
  padding-top: 15px;
  margin-left: 40px;
  background-color: #F3F5FC;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #F3F5FC;
}

.texto {
  position: absolute;
  width: 42%;
  height:60%;
  left: 12%;
  top: 12%;
  border: none;
  font-family: "Inter";
  text-transform: lowercase;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height:150%;
  background-color: var(--color-primario);
}

.texto::placeholder {
  color: var(--color-secundario);
}

.texto:focus,
.texto:active {
  border: none;
  outline: none;
}

.terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left:12%;
  top: 75%;
}

.terminos h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-desencrip);
  flex: none;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1%;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 82%;
  gap: 15px;
}

.btn-encriptar {
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: 25%;
  background-color: var(--color-secundario);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.btn-desencriptar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
  width: 25%;
  background: var(--color-boton);
  border: 1px solid var(--color-secundario);
  border-radius: 24px;
  cursor: pointer;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: var(--color-secundario);
}

.btn-encriptar:hover,
.btn-desencriptar:hover {
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 90%;
  left: 60%;
  top: 5%;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}

.mensaje-encriptado h2 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #495057;
}

.mensaje-encriptado h6 {
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.encriptado img {
  position: absolute;
  width: 80%;
  height: 40%;
  top: 15%;
}

/*Responsive*/

@media (max-width: 57.5em) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .encriptar {
    width: 100%;
  }
  .texto {
    width: 80%;
    height:60%;
    left: 10%;
    top: 5%;
  }
  .terminos {
    width: 80%;
    left: 10%;
    top: 67%;
  }
  .terminos h6 {
    font-size:16px;
  }
  .botones {
    width: 80%;
    left: 10%;
    top: 70%;
  }
  .btn-encriptar,
  .btn-desencriptar {
    width: 48%;
    border-radius: 16px;
  }
  .btn-encriptar:hover,
  .btn-desencriptar:hover {
    margin: 0.3%;
    width: 47.5%;
    padding: 1.8%;
  }
  .encriptado {
    width: 80%;
    height:15%;
    left: 10%;
    top: 80%;
  }
  .mensaje-encriptado {
    width: 100%;
    top: 5%;
  }
  .encriptado img {
    top: 0;
    display: none;
    visibility: hidden;
  }
}